<!-- side by side cards with 1x2 mat grid -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Students</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- students table material table with view, edit and delete actions -->
                    <table mat-table [dataSource]="students" class="mat-elevation-z8">
                        <!-- SNO Column -->
                        <!-- <ng-container matColumnDef="sno">
                            <th mat-header-cell *matHeaderCellDef> SNO </th>
                            <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                        </ng-container> -->
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <!-- Age Column -->
                        <ng-container matColumnDef="age">
                            <th mat-header-cell *matHeaderCellDef> Age </th>
                            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
                        </ng-container>
                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>
                        <!-- Phone Column -->
                        <ng-container matColumnDef="contact">
                            <th mat-header-cell *matHeaderCellDef> Contact </th>
                            <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
                        </ng-container>
                        <!-- Address Column -->
                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef> Address </th>
                            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element"> 
                                <button mat-icon-button color="primary" aria-label="Example icon-button with menu icon"
                                    (click)="getStudent(element.id)"
                                >
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" aria-label="Example icon-button with menu icon"
                                (click)="editStudent(element.id)"
                                >
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" aria-label="Example icon-button with menu icon">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
        
        <!-- individual student details material dialog -->
        
    </div>
</div>