<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="menu-btn" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title | uppercase}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="notification-btn favorite-icon try-btn" aria-label="icon-button with heart icon">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="user-btn try-btn" aria-label="icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar> -->

<br /><br /><br />
<!-- <div> -->
    <!-- event binding example with textbox -->
    <!-- <input type="text" [value]="message" (change)="changeHandle($event)" />
    <div>
        {{message.length}} <br>
        {{1+1}}<br>
        {{(10%2 == 0) ? 'even' : 'odd' }}<br>
    </div>
    <div>
        {{message}}
    </div>
<hr /> -->
    <!-- two way binding example with textbox -->
    <!-- <input type="text" [(ngModel)]="myname" />
    <div>
        {{myname}}
    </div> 

</div>

<hr />
<h1>Exhange between components</h1>
<div>
    messaget to child: 
    <input type="text" [(ngModel)]="parentMessage" />
    <app-first [message]="parentMessage" (result)="captureResult($event)"></app-first>
    <div>
        Message from Chaild: {{result}}
    </div>
</div> -->

<!-- <app-ifelse></app-ifelse> -->

<!-- <app-dates></app-dates> -->

<!-- <app-ngfor></app-ngfor> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-form></app-form> -->
<!-- <app-user-entry-form></app-user-entry-form> -->
<!-- <app-math></app-math> -->
<app-users></app-users>